# Kaggle API credentials
kaggle.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/
.venv/

# IDE settings
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db